/* Mobile & Tablet */
@media (max-width: 1023px) {
   html {
      scroll-behavior: smooth;
   }
   .hide-on-mobile-tablet {
      display: none;
   }
   .header__nav {
      height: var(--header-height);
      flex-direction: column;
      justify-content: center;
   }
   #nav-mobile-input:checked ~ .mobile__nav {
      transform: translateX(0);
   }
   #nav-mobile-input:checked ~ .overlay {
      display: block ;
   }
   .nav-mobile-bar-wrap {
      display: block;
   }
  
   .product__option-wrap {
      flex-direction: column;
   }   
   .product__option {
      margin-right: auto;
   }
   .product__desc-wrap {
      margin-right: auto;
      flex-direction: column;
   }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
   
}
/* Mobile */
@media (max-width: 739px) {
   .license {
      margin: 0 20px;
   }
   .footer__bottom-copy-right {
      padding: 0 20px;
   }
   .mobile__nav {
      width: 250px;
   }
   
   .product__category {
      flex-direction: column;
   }
   .product-wrap, 
   .gallery,
   .timetable,
   .product__packeges-wrap,
   .product__recommend,
   .tag {
      padding: 0 12px;
   }
   .timetable__detail-number {
      min-width: 70px;
   }
}