
.main {
   overflow: hidden;
}
/* Go To Top  */
#goToTop {
   position: fixed;
   background-color: var(--primary-color);
   bottom: 10px;
   right: 10px;
   z-index: 1;
   border-radius: 6px;
   display: block;
   padding: 14px 18px;
   font-size: 1.6rem;
   text-decoration: none;
   color: black;
   opacity: 0.8;
}
/* Header  */
.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: var(--header-height);
   z-index: 1;
   box-shadow: 0 4px 4px #ccc;
}
.header__contact-wrap {
   background-color: #0071a7;
}
.header__contact {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: var(--header__contact-height);
}
.header__contact-social {
   display: flex;
   padding-left: 0;
   list-style: none;
}
.header__contact-link {
   display: block;
   text-decoration: none;
   color: white;
   font-size: 1.4rem;
   padding: 0px 4px;
   margin: 0 4px;
}
.header__contact-link:hover {
   opacity: 0.9;
}
.header__contact-icon {
   font-size: 1.6rem;
   padding: 0 2px;
}
.header__nav-wrap {
   background-color: white;
}
.header__nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: var(--header__nav-height);
}
.header__nav-img {
   cursor: pointer;
   width: 190px;
}
.header__nav-list {
   display: flex;
   padding-left: 0;
   list-style: none;
}
.header__nav-item {
   position: relative;
}
.header__nav-item::before {
   content: "";
   display: block;
   position: absolute;
   border-right: 1px solid #ccc;
   height: 16px;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
}
.header__nav-item:last-child::before {
   display: none;
}
.header__nav-link {
   display: block;
   text-decoration: none;
   color: #333;
   font-size: 1.6rem;
   padding: 8px;
   margin: 0 12px;
}
.header__nav-subnav {
   display: none;
   position: absolute;
   top: 100%;
   min-width: 170px;
   background-color: white;
   color: black;
   padding-left: 0;
   list-style: none;
   box-shadow: 0 1px 2px #ccc;
   border-radius: 2px;
   animation: grow linear 0.1s;
   transform-origin: top center;
}
.header__nav-item:hover .header__nav-subnav {
   display: block;
}
.header__nav-subnav-item {
   border-radius: 2px;
   position: relative;
}
.header__nav-subnav-link {
   display: block;
   border-radius: 2px;
   text-decoration: none;
   color: #333;
   font-size: 1.5rem;
   padding: 14px 25px;
   text-align: left;
}
.header__nav-subnav-link:hover {
   background-color: #ccc;
}
.header__nav-subnav-link-icon {
   font-size: 1.6rem;
   margin-left: 10px;
}
.header__nav-subnav-2 {
   display: none;
   position: absolute;
   top: 0;
   left: calc(100% + 6px);
   width: 100%;
   background-color: white;
   color: black;
   padding-left: 0;
   list-style: none;
   border-radius: 2px;
   box-shadow: 0 1px 2px #ccc;
   animation: fadeIn ease 0.2s;
}
.header__nav-subnav-2::before {
   content: "";
   display: block;
   position: absolute;
   border-left: 11px solid transparent;
   height: 42px;
   left: -8px;
}
.header__nav-subnav-2-link {
   display: block;
   border-radius: 2px;
   text-decoration: none;
   color: black;
   font-size: 1.5rem;
   padding: 14px 0;
   text-align: center;
   border-radius: 2px;
}
.header__nav-subnav-2-link:hover {
   background-color: #ccc;
}
.header__nav-subnav-item:hover .header__nav-subnav-2 {
   display: block;
}

/* slider */
.slider {
  position: relative;
   margin-top: var(--header-height);
   overflow: hidden;
}
.slider__img {
   background-image: url("/assets/img/landmark_2.jpg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 40%;
   min-height: 480px;
   animation: zoomOut linear 5s;
}
@keyframes zoomOut {
   from {
      transform: scale(1.2);
   } to {
      transform: scale(1);
   }
}
.slider__text-welcome {
   position: absolute;
   left: 20%;
   font-size: 3rem;
   color: white;
   animation: moveRight linear 5s;
   bottom: 150px;
   font-weight: 300;
}
@keyframes moveRight {
   from {
      opacity: 0;
      left: 12%;
   } to {
      opacity: 1;
      left: 20%;
   }
}
.slider__text-country {
   position: absolute;
   left: 25%;
   font-size: 3.8rem;
   color: white;
   animation: moveLeft linear 5s;
   bottom: 100px;
}
@keyframes moveLeft {
   from {
      opacity: 0;
      left: 30%;
   } to {
      opacity: 1;
      left: 25%;
   }
}

/* container */
.container {

}
.destinations__header {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 30px 0;
}
.destinations__header-title {
   font-size: 1.4rem;
   color: #666;
}
.destinations__header-text {
   font-size: 2.2rem;
   margin: 12px 0;
}
/* destinations__content */
.destinations__content-wrap {
   position: relative;
   max-height: 400px;
   margin-bottom: 20px;
   overflow: hidden;
}
.destinations__content-img {
   border-radius: 2px;
   padding-top: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top center;
}
.destinations__content-text {
   position: absolute;
   bottom: 14px;
   left: 20px;
   background-color: rgba(0, 255, 255, 0.5);
   padding: 0 20px;
   border-radius: 50%;
}
.destinations__content-place {
   font-size: 2.2rem;
   color: white;
}
.destinations__content-desc {
   font-size: 1.6rem;
   color: white;
}
.destinations__info {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   border-radius: 4px;
   background-color: var(--primary-color);
   opacity: 0;
   transition: opacity linear 0.4s;
}
.destinations__content-wrap:hover 
.destinations__info {
   opacity: 1;
}
.destinations__info-header {
   font-size: 1.6rem;
   color: white;
}
.destinations__info-view {
   display: block;
   text-decoration: none;
   background-color: white;
   color: var(--primary-color);
   font-size: 1.6rem;
   padding: 6px 14px;
}
/* destinations__search */
.destinations__search_2 {
   position: relative;
   margin-top: 50px;
}
.destinations__search_2-img {
   padding-top: 32%;
   background-position: top center;
   background-size: cover;
   background-attachment: fixed;
}
.destinations__search-wrap_2 {
   width: 1200px;
   background-color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 6px;
   padding: 38px 0;
}
.destinations__search-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   min-height: 90px;
}
.destinations__search-title {
   font-size: 1.8rem;
   color: #666;
}
.destinations__search-input {
   outline: none;
   border-radius: 20px;
   border: 1px solid #ccc;
   font-size: 1.6rem;
   padding: 10px 16px;
   min-width: 260px;
}
.destinations__search-btn {
   display: block;
   font-size: 1.6rem;
   text-decoration: none;
   padding: 10px 16px;
   min-width: 260px;
}
/* destinations__news */
.destinations__news-wrap {
   margin: 70px 0;
   display: flex;
   align-items: center;
}
.destinations__news {
   border-radius: 4px;
   padding: 0 24px;
   background-color: var(--primary-color);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   height: 100%;
   height: 526px;
   margin-bottom: 25px;
}
.destinations__news-title {
   font-size: 1.4rem;
   color: white;
}
.destinations__news-header {
   color: white;
   font-size: 3.4rem;
   font-weight: 800;
   line-height: 3.4rem;
}
.destinations__news-desc {
   font-size: 1.4rem;
   line-height: 1.8rem;
   color: white;
   margin-bottom: 30px;
}
.destinations__news-link {
   display: block;
   text-decoration: none;
   background-color: white;
   color: var(--primary-color);
   font-size: 1.5rem;
}
.destinations__news-details {
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 40px 30px;
   margin-bottom: 20px;
}
.destinations__news-details-time {
   font-size: 1.4rem;
   color: #666;
}
.destinations__news-details-title {
   font-size: 2.2rem;
   margin: 20px 0;
}
.destinations__news-details-desc {
   font-size: 1.4rem;
   line-height: 1.8rem;
   color: #666;
   margin: 24px 0;
   text-align: justify;
}
.destinations__news-details-btn {
   font-size: 1.4rem;
   padding: 10px;
}
.destinations__option {
   margin-bottom: 50px;
}
/* destinations__more */
.destinations__more {
   display: flex;
   /* justify-content: space-between; */
}
.destinations__more-img {
   height: 60px;
}
.destinations__more-desc {
   margin-left: 16px;
}
.destinations__more-header {
   font-size: 2.2rem;
   margin-top: 0;
}
.destinations__more-text {
   font-size: 1.4rem;
   line-height: 2.2rem;
   color: #666;
}
.destinations__more-link {
   display: block;
   text-decoration: none;
   color: #666;
   font-size: 1.5rem;
   color: var(--primary-color);
}
/* discover */
.discover {
   display: flex;
   margin-bottom: 50px;
}
.discover__nature {
   position: relative;
   width: 100%;
}
.discover__img {
   padding-top: 38%;
   background-position: top center;
   background-size: cover;
   background-repeat: no-repeat;
}
.discover__content {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 20px;
   background-color: rgba(0, 255, 255, 0.4);
   border-radius: 50%;
   color: black;
   text-align: center;
}
.discover__text {
   font-size: 3rem;
   line-height: 2.6rem;
}
.discover__btn {
   font-size: 1.4rem;
}

/* footer */
.footer {

}
.footer__header {
   font-size: 1.7rem;
}
.footer__list {
   padding-left: 0;
   list-style: none;
}
.footer__link {
   display: inline-block;
   text-decoration: none;
   color: black;
   padding: 2px 0;
   margin: 4px 0;
   font-size: 1.3rem;
}
.footer__link:hover {
   color: var(--primary-color);
}
.footer__img {
   width: 190px;
}
.footer__social {
   display: flex;
   align-items: center;
}
.footer__social-img {
   width: 80px;
   border: 1px solid #ccc;
}
.footer__social-apps {
   display: flex;
   flex-direction: column;
   margin-left: 10px;
}
.footer__social-apps-img {
   cursor: pointer;
   width: 100px;
   margin: 4px 0;
}
.footer__secure {
   display: flex;
}
.footer__cerfiticate__img {
   width: 110px;
}
.footer__follow {
   display: flex;
}
.footer__follow-link {
   display: block;
   margin: 0 4px;
   padding: 0 6px;
   text-decoration: none;
   color: black;
}
.footer__follow-icon {
   font-size: 2.8rem;
}
.footer__bottom {
   background-color: #F5F5F5;
   padding: 20px 0;
   margin-top: 50px;
}
.footer__bottom-copy-right {
   margin: 0;
   font-size: 1.3rem;
   color: #666;
   text-align: center;
}
/* CSS on mobile  */
.overlay {
   display: none;
   position: fixed;
   z-index: 8;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.3);
   animation: fadeIn linear 0.3s;
}
.nav-mobile-bar-wrap {
   display: none;
}
.nav-mobile-bar {
   display: none;

   font-size: 3rem;
   padding: 6px 0;
}
/* mobile__nav  */
.mobile__nav {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   width: 300px;
   background-color: white;
   z-index: 99;
   padding-top: 40px;
   background-color: #535c68;
   transform: translateX(-100%);
   transition: transform ease-in 0.5s;
   overflow-y: auto;
}
.mobile__nav-icon-wrap {
   position: absolute;
   top: 14px;
   right: 14px;
}
.mobile__nav-icon {
   font-size: 3rem;
}
.mobile__nav-header {
   font-size: 2.2rem;
   margin-left: 10px;
   font-weight: 500;
   color: white;
}
.mobile__nav-list {
   padding-left: 30px;
   list-style: none;
}
.mobile__nav-list.active .mobile__nav-list-2 {
   display: block;
}
.mobile__nav-link {
   display: block;
   text-decoration: none;
   font-size: 1.6rem;
   color: white;
   padding: 12px 0;
   font-weight: 600;
}
.mobile__nav-list-2 {
   display: none;
   padding-left: 20px;
   list-style: none;
}
.mobile__nav-link-2 {
   display: block;
   text-decoration: none;
   color: white;
   font-size: 1.5rem;
   padding: 12px 0;
}
.mobile__book-btn {
   display: block;
   text-decoration: none;
   color: #333;
   font-size: 1.6rem;
   padding: 8px 0 8px 14px;
   border-radius: 14px;
   width: 120px;
   background-color: var(--primary-color);
}



